c-box[slot='popover'] {
  position: fixed;
}

c-box[slot='popover'] [tabindex='0']:focus {
  outline-style: solid;
  outline-width: var(--size-3);
  outline-color: var(--primary-100);
  border-radius: var(--base-size-12);
  transition: outline-width 0.25s ease;
}

c-box[cx-popover='close'] {
  border-radius: var(--base-size-half);
  background-color: var(--primary-100);
  width: var(--size-32);
  height: var(--size-32);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: var(--primary-200);
  }
  &:active {
    background-color: var(--primary-300);
  }
}

$popover-position: bottom, top, left, right;
$in-out: in, out;

@each $position in $popover-position {
  @each $io in $in-out {
    @keyframes popover-#{$position}-#{$io} {
    }
  }
}

@each $position in $popover-position {
  @keyframes popover-#{$position}-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
c-box[slot='popover'] {
  outline: none;
  transition: opacity 0.25s ease;
  animation: popover-in 0.25s ease forwards;
}

c-box[slot='popover'] {
  &[popover-arrowpoint-position-type='bottom'] {
    &::before {
      content: '';
      display: block;
      translate: var(--popover-arrowpoint-position);
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid var(--white);
      filter: drop-shadow(0px -3px 6px rgba(0, 0, 0, 0.2));
    }
  }

  &[popover-arrowpoint-position-type='top'] {
    &::after {
      content: '';
      display: block;
      translate: var(--popover-arrowpoint-position);
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid var(--white);
    }
  }

  &[popover-arrowpoint-position-type='right'] {
    &::before {
      content: '';
      translate: var(--popover-arrowpoint-position);
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 8px solid var(--white);
      filter: drop-shadow(-4px 0 4px rgba(0, 0, 0, 0.2));
    }
  }

  &[popover-arrowpoint-position-type='left'] {
    &::after {
      content: '';
      translate: var(--popover-arrowpoint-position);
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid var(--white);
      filter: drop-shadow(4px 0 4px rgba(0, 0, 0, 0.2));
    }
  }
}

c-box[popover-close-button] {
  border-radius: var(--base-size-half);
  background-color: var(--primary-100);
  width: var(--size-32);
  height: var(--size-32);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: var(--primary-200);
  }
  &:active {
    background-color: var(--primary-300);
  }
  &::after {
    content: '\e800';
    font-family: close-solid;
  }
}

c-box[slot='popover'] {
  c-box[content] {
    box-shadow: 0 var(--base-size-2) var(--base-size-20) -0.188rem var(--base-shadow-400),
      0 var(--base-size-4) var(--base-size-6) -0.25rem var(--base-shadow-400);
  }
}
