c-box[cursor-auto] {
  cursor: auto;
}

c-box[cursor-default] {
  cursor: default;
}

c-box[cursor-pointer] {
  cursor: pointer;
}
c-box[cursor-select] {
  cursor: pointer;
  user-select: none;
}

c-box[cursor-wait] {
  cursor: wait;
}

c-box[cursor-text] {
  cursor: text;
}

c-box[cursor-move] {
  cursor: move;
}

c-box[cursor-not-allowed] {
  cursor: not-allowed;
}
