c-box[static] {
  position: static;
}

c-box[fixed] {
  position: fixed;
}

c-box[absolute] {
  position: absolute;
}

c-box[relative] {
  position: relative;
}

c-box[sticky] {
  position: sticky;
}
