c-box[transition-none] {
  transition: none;
}

c-box[transition-25] {
  transition: all 25ms ease;
}

c-box[transition-50] {
  transition: all 50ms ease;
}

c-box[transition-75] {
  transition: all 75ms ease;
}

c-box[transition-100] {
  transition: all 100ms ease;
}

c-box[transition-125] {
  transition: all 125ms ease;
}

c-box[transition-150] {
  transition: all 150ms ease;
}

c-box[transition-175] {
  transition: all 175ms ease;
}

c-box[transition-200] {
  transition: all 200ms ease;
}

c-box[transition-250] {
  transition: all 250ms ease;
}

c-box[transition-275] {
  transition: all 275ms ease;
}

c-box[transition-300] {
  transition: all 300ms ease;
}

c-box[transition-325] {
  transition: all 325ms ease;
}

c-box[transition-350] {
  transition: all 350ms ease;
}

c-box[transition-375] {
  transition: all 375ms ease;
}

c-box[transition-400] {
  transition: all 400ms ease;
}

c-box[transition-425] {
  transition: all 425ms ease;
}

c-box[transition-450] {
  transition: all 450ms ease;
}

c-box[transition-475] {
  transition: all 475ms ease;
}

c-box[transition-500] {
  transition: all 500ms ease;
}
