c-box[order-0] {
  order: none;
}

c-box[order-first] {
  order: -9999;
}

c-box[order-last] {
  order: 9999;
}

@for $i from 1 through 50 {
  c-box[order-#{$i}] {
    order: $i;
  }
}
