$colors: gray, primary, error, warning, success, modern-green, surgeon-green, wellness-green,
  safe-blue, blueprint, violet-alert, purple, pinky, red-flag, alarm-orange, warning-yellow,
  bluestate, shadow;
$shades: 25, 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;

c-box[bg-white] {
  background-color: var(--white);
}

c-box[tx-white] {
  color: var(--white);
}

c-box[bg-black] {
  background-color: var(--black);
}

c-box[tx-black] {
  color: var(--black);
}

// left
c-box[border-left-black] {
  border-left-color: var(--black);
}

c-box[border-left-white] {
  border-left-color: var(--white);
}
// top
c-box[border-top-black] {
  border-top-color: var(--black);
}

c-box[border-top-white] {
  border-top-color: var(--white);
}
// right
c-box[border-right-black] {
  border-right-color: var(--black);
}

c-box[border-right-white] {
  border-right-color: var(--white);
}

// bottom
c-box[border-bottom-black] {
  border-bottom-color: var(--black);
}

c-box[border-bottom-white] {
  border-bottom-color: var(--white);
}

@each $color in $colors {
  @each $shade in $shades {
    c-box[bg-#{"" + $color}-#{$shade}] {
      background-color: var(--#{$color}-#{$shade});
    }

    c-box[tx-#{"" + $color}-#{$shade}] {
      color: var(--#{$color}-#{$shade});
    }

    c-box[border-#{'' + $color}-#{$shade}] {
      border-color: var(--#{$color}-#{$shade});
    }

    //
    c-box[border-left-#{'' + $color}-#{$shade}] {
      border-left-color: var(--#{$color}-#{$shade});
    }
    c-box[border-top-#{'' + $color}-#{$shade}] {
      border-top-color: var(--#{$color}-#{$shade});
    }

    c-box[border-right-#{'' + $color}-#{$shade}] {
      border-right-color: var(--#{$color}-#{$shade});
    }

    c-box[border-bottom-#{'' + $color}-#{$shade}] {
      border-bottom-color: var(--#{$color}-#{$shade});
    }
  }
}
