$start: 0;
$end: 200;

// if more than 200 should use property instead attribute such as w="500"
@for $i from $start through $end {
  @if $i == 0 or $i >= 100 and $i % 2 == 0 or $i <= 100 {
    c-box[h-#{$i}] {
      height: var(--size-#{$i});
    }

    c-box[min-h-#{$i}] {
      min-height: var(--size-#{$i});
    }

    c-box[max-h-#{$i}] {
      max-height: var(--size-#{$i});
    }

    c-box[w-#{$i}] {
      width: var(--size-#{$i});
    }

    c-box[min-w-#{$i}] {
      min-width: var(--size-#{$i});
    }

    c-box[max-w-#{$i}] {
      max-width: var(--size-#{$i});
    }

    c-box[round-#{$i}] {
      border-radius: var(--size-#{$i});
    }

    c-box[left-#{$i}] {
      left: var(--size-#{$i});
    }

    c-box[right-#{$i}] {
      right: var(--size-#{$i});
    }

    c-box[top-#{$i}] {
      top: var(--size-#{$i});
    }

    c-box[bottom-#{$i}] {
      bottom: var(--size-#{$i});
    }

    c-box[tx-#{$i}] {
      font-size: var(--size-#{$i});
    }

    // margin

    c-box[m-#{$i}] {
      margin: var(--size-#{$i});
    }

    c-box[mx-#{$i}] {
      margin-left: var(--size-#{$i});
      margin-right: var(--size-#{$i});
    }
    c-box[my-#{$i}] {
      margin-top: var(--size-#{$i});
      margin-bottom: var(--size-#{$i});
    }

    c-box[mt-#{$i}] {
      margin-top: var(--size-#{$i});
    }
    c-box[mb-#{$i}] {
      margin-bottom: var(--size-#{$i});
    }

    c-box[ml-#{$i}] {
      margin-left: var(--size-#{$i});
    }

    c-box[mr-#{$i}] {
      margin-right: var(--size-#{$i});
    }

    // padding
    c-box[p-#{$i}] {
      padding: var(--size-#{$i});
    }

    c-box[px-#{$i}] {
      padding-left: var(--size-#{$i});
      padding-right: var(--size-#{$i});
    }
    c-box[py-#{$i}] {
      padding-top: var(--size-#{$i});
      padding-bottom: var(--size-#{$i});
    }

    c-box[pt-#{$i}] {
      padding-top: var(--size-#{$i});
    }
    c-box[pb-#{$i}] {
      padding-bottom: var(--size-#{$i});
    }

    c-box[pl-#{$i}] {
      padding-left: var(--size-#{$i});
    }

    c-box[pr-#{$i}] {
      padding-right: var(--size-#{$i});
    }

    // border
    c-box[border-#{$i}] {
      border-width: var(--size-#{$i});
    }

    c-box[border-left-#{$i}] {
      border-left-width: var(--size-#{$i});
    }

    c-box[border-top-#{$i}] {
      border-top-width: var(--size-#{$i});
    }

    c-box[border-right-#{$i}] {
      border-right-width: var(--size-#{$i});
    }

    c-box[border-bottom-#{$i}] {
      border-bottom-width: var(--size-#{$i});
    }

    c-box[col-gap-#{$i}] {
      column-gap: var(--size-#{$i});
    }

    c-box[row-gap-#{$i}] {
      row-gap: var(--size-#{$i});
    }

    c-box[basis-#{$i}] {
      flex-basis: var(--size-#{$i});
    }

    c-box[line-h-#{$i}] {
      line-height: var(--size-#{$i});
    }

    c-box[letter-spacing-#{$i}] {
      letter-spacing: var(--size-#{$i});
    }

    c-box[indent-#{$i}] {
      text-indent: var(--size-#{$i});
    }
  }
}
