$font-types: (
  bold: var(--bold),
  boldItalic: var(--boldItalic),
  extraBold: var(--extraBold),
  extraBoldItalic: var(--extraBoldItalic),
  extraLight: var(--extraLight),
  extraLightItalic: var(--extraLightItalic),
  italic: var(--italic),
  light: var(--light),
  lightItalic: var(--lightItalic),
  medium: var(--medium),
  mediumItalic: var(--mediumItalic),
  regular: var(--regular),
  semiBoldItalic: var(--semiBoldItalic),
  semiBold: var(--semiBold),
  thin: var(--thin),
  thinItalic: var(--thinItalic),
);

@each $type, $value in $font-types {
  c-box {
    &[#{$type}] {
      font-family: $value;
    }
  }
}
