c-box[uppercase] {
  text-transform: uppercase;
}

c-box[lowercase] {
  text-transform: lowercase;
}

c-box[capitalize] {
  text-transform: capitalize;
}

c-box[normal-case] {
  text-transform: none;
}
