c-box[horizontal-tb] {
  writing-mode: horizontal-tb;
}

c-box[sideways-lr] {
  writing-mode: sideways-lr;
}

c-box[sideways-rl] {
  writing-mode: sideways-rl;
}

c-box[vertical-lr] {
  writing-mode: vertical-lr;
}

c-box[vertical-rl] {
  writing-mode: vertical-rl;
}
