$percentages: ();
@for $i from 1 through 100 {
  $percentages: append($percentages, $i * 1%);
}

@each $percentage in $percentages {
  c-box[w-#{index($percentages, $percentage)}pc] {
    width: $percentage;
  }

  c-box[min-w-#{index($percentages, $percentage)}pc] {
    min-width: $percentage;
  }

  c-box[max-w-#{index($percentages, $percentage)}pc] {
    max-width: $percentage;
  }

  c-box[h-#{index($percentages, $percentage)}pc] {
    height: $percentage;
  }

  c-box[min-h-#{index($percentages, $percentage)}pc] {
    min-height: $percentage;
  }

  c-box[max-h-#{index($percentages, $percentage)}pc] {
    max-height: $percentage;
  }

  c-box[basis-#{index($percentages, $percentage)}pc] {
    flex-basis: $percentage;
  }

  c-box[line-h-#{index($percentages, $percentage)}pc] {
    line-height: $percentage;
  }
  c-box[letter-spacing-#{index($percentages, $percentage)}pc] {
    letter-spacing: $percentage;
  }

  c-box[indent-#{index($percentages, $percentage)}pc] {
    text-indent: $percentage;
  }
}
