c-box[flex-row] {
  flex-direction: row;
}

c-box[flex-row-reverse] {
  flex-direction: row-reverse;
}

c-box[flex-col] {
  flex-direction: column;
}

c-box[flex-col-reverse] {
  flex-direction: column-reverse;
}
