c-box[w-full] {
  width: 100%;
}

c-box[min-w-full] {
  min-width: 100%;
}

c-box[max-w-full] {
  max-width: 100%;
}

c-box[h-full] {
  height: 100%;
}

c-box[min-h-full] {
  min-height: 100%;
}

c-box[max-h-full] {
  max-height: 100%;
}

c-box[w-fit] {
  width: fit-content;
}
c-box[w-max] {
  width: max-content;
}

c-box[w-min] {
  width: min-content;
}

c-box[h-fit] {
  height: fit-content;
}
c-box[h-max] {
  height: max-content;
}

c-box[h-min] {
  height: min-content;
}
